***Project 
Apply the concepts of data mining studied during our class and implement the following 
concepts using python libraries***

***1) Select any dataset in CSV format (except iris) and apply concepts of pre-processing on 
them, which includes:***

In [6]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori,association_rules

In [13]:
#Inventory_transcations dataset
data = pd.read_csv('inventory_transactions.csv')
data

,Transaction_ID,Date,Item_ID,Item_Name,Transaction_Type,Quantity,Initial_Quantity,New_Quantity
0,1,2024-01-09,3,Bread,Purchase,10,75,85
1,2,2023-12-25,2,Milk,Sale,1,50,49
2,3,2024-01-11,6,Potatos,Purchase,9,80,89
3,4,2024-01-02,8,Cadbury,Purchase,20,120,140
4,5,2023-12-26,8,Cadbury,Sale,20,120,100
...,...,...,...,...,...,...,...,...
795,796,2023-12-22,1,Rice,Sale,14,100,86
796,797,2023-12-27,1,Rice,Sale,2,100,98
797,798,2023-12-30,8,Cadbury,Purchase,12,120,132
798,799,2023-12-27,8,Cadbury,Purchase,12,120,132
799,800,2023-12-18,5,Bananas,Sale,15,40,25

***a) Identify the type of attribute in the chosen data set***

In [14]:
print(data.dtypes)

Transaction_ID       int64
Date                object
Item_ID              int64
Item_Name           object
Transaction_Type    object
Quantity             int64
Initial_Quantity     int64
New_Quantity         int64
dtype: object

In [16]:
print(data['Quantity'].dtype)

int64

 ***b) identify the missing values***

In [17]:
missing_values = data['Quantity'].isnull().sum()
print(missing_values)

0

as there is no missing values so no need to fill missing values through part(c),(d)

 ***c) fill missing values using mean, medium and mode***

In [21]:
data = data.copy() 
data['Quantity'] = data['Quantity'].fillna(data['Quantity'].mean())
data['Quantity']

0      10
1       1
2       9
3      20
4      20
       ..
795    14
796     2
797    12
798    12
799    15
Name: Quantity, Length: 800, dtype: int64

In [23]:
data = data.copy() 
data['Quantity'] = data['Quantity'].fillna(data['Quantity'].median())
data['Quantity']

0      10
1       1
2       9
3      20
4      20
       ..
795    14
796     2
797    12
798    12
799    15
Name: Quantity, Length: 800, dtype: int64

***d) fill missing values in categorical variables using fill next and previous function***

In [31]:
#Forward fill
data['Item_Name'] = data['Item_Name'].ffill()
data['Item_Name']

0        Bread
1         Milk
2      Potatos
3      Cadbury
4      Cadbury
        ...
795       Rice
796       Rice
797    Cadbury
798    Cadbury
799    Bananas
Name: Item_Name, Length: 800, dtype: object

In [32]:
#backward fill
data['Item_Name'] = data['Item_Name'].bfill()
data['Item_Name']

0        Bread
1         Milk
2      Potatos
3      Cadbury
4      Cadbury
        ...
795       Rice
796       Rice
797    Cadbury
798    Cadbury
799    Bananas
Name: Item_Name, Length: 800, dtype: object

 ***e) apply the process of binning where required***

In [36]:
data['Quantity_Binned'] = pd.cut(data['Quantity'], bins=[0, 10, 20, 30], labels=['Low', 'Medium', 'High'])
data['Quantity_Binned']

0         Low
1         Low
2         Low
3      Medium
4      Medium
        ...
795    Medium
796       Low
797    Medium
798    Medium
799    Medium
Name: Quantity_Binned, Length: 800, dtype: category
Categories (3, object): ['Low' < 'Medium' < 'High']

In [38]:
col2 =df.iloc[:,5]
col2

0      10
1       1
2       9
3      20
4      20
       ..
795    14
796     2
797    12
798    12
799    15
Name: Quantity, Length: 800, dtype: int64

In [40]:
#sorting the quantity column
sort_col2= np.sort(col2)
sort_col2

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  3,  3,  3,  3,
        3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,
        3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,
        3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,
        4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,
        4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,
        4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  5,  5,
        5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,
        5,  5,  5,  5,  5,  5,  5,  5,  6,  6,  6,  6,  6,  6,  6,  6,  6,
        6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,
        6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  7,  7,  7,  7,  7,  7,
        7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,
        7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  8,  8,  8,
        8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,
        8,  8,  8,  8,  8,  8,  8,  8,  8,  9,  9,  9,  9,  9,  9,  9,  9,
        9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,
        9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9, 10, 10, 10,
       10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10,
       10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10,
       10, 10, 10, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12,
       12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12,
       12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 13, 13, 13,
       13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13,
       13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13,
       13, 13, 13, 13, 13, 13, 13, 13, 14, 14, 14, 14, 14, 14, 14, 14, 14,
       14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14,
       14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14,
       14, 14, 14, 14, 14, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15,
       15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15,
       15, 15, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16,
       16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16,
       16, 16, 16, 16, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17,
       17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17,
       17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 18, 18,
       18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18,
       18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 19, 19, 19, 19, 19,
       19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19,
       19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19,
       19, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20,
       20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20,
       20])

In [41]:
data = {'Quantity': sort_col2}
df1 = pd.DataFrame(data)
df1

     Quantity
0           1
1           1
2           1
3           1
4           1
..        ...
795        20
796        20
797        20
798        20
799        20

[800 rows x 1 columns]

In [49]:
df1['Quantity_Binned'] = pd.cut(df1['Quantity'], bins=[0, 10, 20, 30], labels=['Low', 'Medium', 'High'])
df1['Quantity_Binned']
dataframe=pd.DataFrame(df1)
dataframe

     Quantity Quantity_Binned
0           1             Low
1           1             Low
2           1             Low
3           1             Low
4           1             Low
..        ...             ...
795        20          Medium
796        20          Medium
797        20          Medium
798        20          Medium
799        20          Medium

[800 rows x 2 columns]

***2) Apply the association rule mining algorithm on the chosen data set to generate frequent 
item sets and association rules. (select a sample of the data set to do this task).***

In [57]:
# Convert binned data to one-hot encoded format
df1_onehot = pd.get_dummies(dataframe['Quantity_Binned'], prefix='Quantity_Binned')
df1

     Quantity Quantity_Binned
0           1             Low
1           1             Low
2           1             Low
3           1             Low
4           1             Low
..        ...             ...
795        20          Medium
796        20          Medium
797        20          Medium
798        20          Medium
799        20          Medium

[800 rows x 2 columns]

In [65]:
# Apply Apriori algorithm
frequent_itemsets = apriori(df1_onehot, min_support=0.1, use_colnames=True)

In [66]:
# Generate association rules
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.1)

In [67]:
print(frequent_itemsets)
print(rules)

   support                  itemsets
0  0.49875     (Quantity_Binned_Low)
1  0.50125  (Quantity_Binned_Medium)
Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction, zhangs_metric]
Index: []

The output seeing indicates that the Apriori algorithm found frequent itemsets, but no association rules were generated